/* COMMENTS */
// Styling rules for the article comments area.
// Comment form inputs are styled using the form fields styles located in the "_forms.scss" partial.
.comments {
}

.comments-title {
}

.comment-messages {
  margin-top: 20px;
}

.comment {
  margin-bottom: 30px;
}

.comment-form {
  margin-top: 40px;
}

.comment-date {
  color: $grey-5;
}

.comment-body {
  margin-top: 10px;
}
