/* CONTENT */
// Styling rules for the site's main content area. These rules affect the entire site.
.content {
  width: 720px;

  @include query($tablet-small) {
    width: auto;
  }
}

.main-content {
  min-height: 351px;
  @include flexbox;
  @include align-items(flex-end);

  .content-formatted {
    padding: 40px;
  }
}

.half-content-holder {
  margin: 4% 0;
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(stretch);

  @include query($phone-big) {
    display: block;
  }
}

.half-content {
  min-height: 351px;
  @include flex(0 1 48%);
  @include flexbox;
  @include align-items(center);

  &--smaller {
    min-height: 90px;
  }

  .background-type {
    text-align: center;
    padding: 40px;
    @include flex(0 1 100%);
  }

  @include query($phone-big) {
    & + & {
      margin-top: 4%;
    }
  }
}

.background-settings {
  top: 0;
}
