// Styling rules for the site's editable content area and its elements.
// NB! Each editable content-area - {% content %} - should be wrapped in the element that has the "content-formatted" class.
// NB! Contact forms and image galleries are located in the separate partials: "_forms.scss" and "_gallery.scss".
.content-formatted {
  @extend %clearfix;
  word-wrap: break-word;

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
  }

  // Resets the bottom margin for all elements and top margin for all first elements in the editable content-area (to prevent unwanted white-space at the beginning of a content-area).
  h4, h5, h6, p, ul, ol, pre, code, img, iframe, table form {
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1, h2, h3 {
    margin-bottom: 26px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2, h3 {
    margin-bottom: 16px;
  }

  // Styling rules for the editable content area headings.
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-secondary;
    font-weight: 400;
  }

  h1 {
    font-size: 38px;
    @include color($secondary-color);

    .dark-background & {
      @include color($white);
    }
  }

  h2, h3, h4, h5, h6 {
    @include color($third-color);

    .dark-background & {
      @include color($white);
    }
  }

  h2 {
    margin-top: 26px;
    font-size: 24px;
  }

  h3, h4, h5, h6 {
    font-size: 20px;
  }

  // Styling rules for the editable content area paragraphs, lists and links.
  p {
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      position: relative;
      padding-left: 25px;
      margin: 15px 0;

      &:before {
        content: '°';
        position: absolute;
        left: 7px;
        top: 1px;
        font-size: 20px;
        color: #B4B4B4;
      }
    }
  }

  ol {
    padding-left: 25px;

    li {
      margin: 15px 0;
    }
  }

  a {
    @include color($secondary-color);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    .dark-background & {
      @include color($white);
    }
  }

  // Styling rules for the editable content area images, embedded videos, preformatted texts, code examples etc.
  img, iframe {
  }

  img {
    height: auto;
  }

  img, iframe, pre {
  }

  pre {

    code {
    }
  }

  blockquote {
  }

  // Styling rules for the site's editable content area tables.
  // Container around editable content-area table.
  .table-container {
    margin-top: 20px;
  }

  // Overthrow plugin to support horizontal scrolling on older devices that have touch-screens. For example Android 2.3 devices.
  .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;

    th, td {
      padding: 10px;
      text-align: left;
      @include border(bottom, 1px, solid, $grey-4);

      &:first-child {
        padding-left: 0;
      }
    }

    th {
      font-weight: bold;
      @include border(top, 1px, solid, $grey-4);
    }

    td {
    }
  }

  .edy-texteditor-view {
    min-height: 32px;
  }

  .edy-partial-view {
    margin-top: 25px;

    &:first-child {
      margin-top: 0;
    }
  }

  .edy-image-container-with-title::after {
    content: attr(data-title);
    display: block;
    font-size: 14px;
    opacity: 0.7;
    line-height: 1;
    margin-top: 5px;
  }
}
