/* FOOTER */
// Styling rules for the site's footer. These rules affect the entire site.
.footer {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 200px;
  font-size: 14px;

  @include query($tablet-small) {
    padding-top: 20px;
    position: static;
    width: auto;
  }
}
