/* FORMS */
// Styling rules for the site's form-fields area. These rules affect the entire site's form-fields that are in the editable content area.
.content-formatted {
  .form_area,
  .edy-fe-view {
    max-width: 100%;
    margin: 25px 0;

    label {
      display: block;
    }
  }

  .form_field,
  .edy-fe-label {
  }

  .form_field {
    margin-top: 20px;
  }

  .form_field_required {
    .form_field_label:after {
      content: '*';
    }
  }

  .form_field_label,
  .edy-fe-label {
    line-height: 1.3;
    padding-bottom: 5px;
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_field_file {
    font: inherit;
    border-radius: 0;
  }
  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_field_file {
    max-width: 100%;
  }
  .form_field_textfield,
  .form_field_textarea {
    width: 50%;
    margin: 0;
    padding: 7px;
    @include border(all, 1px, solid, $grey-2);
    box-sizing: border-box;

    @include query($tablet-small) {
      width: 100%;
    }
  }
  .form_field_textarea {
    min-height: 98px;
  }
  .form_field_select {
  }

  .form_field_size_small {
    width: 25%;

    @include query($tablet-small) {
      width: 100%;
    }
  }

  .form_field_size_medium {
    width: 50%;

    @include query($tablet-small) {
      width: 100%;
    }
  }
  .form_field_size_large {
    width: 100%;
  }

  .form_submit {
    margin-top: 10px;

    input {
      @extend .custom-btn;
      -webkit-appearance: none;
      border-radius: 0;
    }
  }

  .form_error,
  .form_field_error {
    @include color($red);
  }

  .form_field_with_errors {
    .form_field_textfield,
    .form_field_textarea {
      @include border(all, 1px, solid, $red);
    }
  }

  .form_notice {
    @include color($green);
  }
}
