/* FORMS */
// Styling rules for the site's form-fields area. These rules affect the entire site's form-fields that are in the editable content area.
.content-formatted {
  form,
  .edy-fe-view {
    max-width: 100%;
    margin: 25px 0;

    label {
      display: block;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form_field,
  .edy-fe-label {
  }

  .form_field {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  .form_field_required {
    .form_field_label:after {
      content: '*';
    }
  }

  .form_field_label,
  .edy-fe-label {
    line-height: 1.3;
    padding-bottom: 5px;
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_field_file {
    font: inherit;
    line-height: 1.6;
    border-radius: 0;
  }
  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_field_file {
    max-width: 100%;
  }
  .form_field_textfield,
  .form_field_textarea {
    width: 50%;
    margin: 0;
    padding: 7px;
    border: 1px solid rgba($black, 0.13);
    box-sizing: border-box;

    @include query($tablet-small) {
      width: 100%;
    }
  }
  .form_field_textarea {
    min-height: 98px;
  }
  .form_field_select {
    border: 1px solid rgba($black, 0.13);
    padding: 7px;
    height: 42px;
    background: white;
    border-radius: 0;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    padding-right: 30px;
    background: url('../assets/ico-arrow.svg') no-repeat calc(-10px + 100%) 50%;

    &::-ms-expand {
      display: none;
    }
  }
  .form_field_checkbox,
  .form_field_radio {
    display: none;

    + .form_control_indicator {
      height: 18px;
      width: 18px;
      position: relative;
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
      border-width: 1px;
      border-style: solid;
      border-color: rgba($black, 0.13);
      cursor: pointer;
    }
  }
  .form_field_radio {
    + .form_control_indicator {
      top: -1px;
      border-radius: 100%;

      &:before {
        height: 12px;
        width: 12px;
        @include transform(scale(0));
        @include transition(transform 0.15s ease);
        position: absolute;
        top: 3px;
        left: 3px;
        content: '';
        border-radius: 100%;
        background-color: rgba($black, 0.4);
      }
    }

    &:checked {
      + .form_control_indicator {
        &:before {
          @include transform(scale(1));
          @include transition(transform 0.15s ease);
        }
      }
    }
  }
  .form_field_checkbox {
    + .form_control_indicator {
      top: -2px;

      &:before {
        @include transform(scale(0) rotate(45deg));
        display: block;
        width: 5px;
        height: 10px;
        margin: 1px 0 0 6px;
        content: '';
        transition: transform .15s ease 0s;
        border-width: 0 2px 2px 0;
        border-style: none solid solid none;
        border-color: rgba($black, .4);
      }
    }

    &:checked {
      + .form_control_indicator {
        &:before {
          @include transform(scale(1) rotate(45deg));
          @include transition(transform .15s ease);
        }
      }
    }
  }

  .form_field_size_small {
    width: 25%;

    @include query($tablet-small) {
      width: 100%;
    }
  }

  .form_field_size_medium {
    width: 50%;

    @include query($tablet-small) {
      width: 100%;
    }
  }
  .form_field_size_large {
    width: 100%;
  }

  .form_submit {
    margin-top: 10px;

    input {
      @extend .custom-btn;
      -webkit-appearance: none;
      border-radius: 0;
    }
  }

  .form_error,
  .form_field_error {
    @include color($red);
  }

  .form_field_with_errors {
    .form_field_textfield,
    .form_field_textarea {
      @include border(all, 1px, solid, $red);
    }
  }

  .form_notice {
    @include color($green);
  }
}
