/* GENERAL */
// Styling rules for the basic parts of the page. These rules affect the entire site.
body {
  margin: 0;
  padding: 0;
  font-family: $font-family-main;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  @include color($primary-color);
}

// Pseudo classes to declare commonly used styling rules for different elements.
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

%flexbox {
  .flexbox & {
    @include display(flex);
  }

  .no-flexbox & {
    display: table;
  }

  @include query($tablet-3) {
    .no-flexbox &,
    .flexbox & {
      display: block;
    }
  }
}

%stretch {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

%inline-block {
  display: inline-block;
}

// Styling rules for the independent elements that can be located everywhere in the DOM and always have the same look.
.bg-picker-area {
  position: relative;
}

.light-background {
  @include color($primary-color);
}

.dark-background {
  @include color($white);
}

.background-color,
.background-image {
  @extend %stretch;
  position: absolute;
  z-index: -2;
  background-size: cover;
}

// Styling rules for the main container.
.container {
  max-width: 978px;
  margin: 115px auto 70px;
  padding: 0 25px;

  a {
    text-decoration: none;

    img {
      border: none;
    }
  }
}

.wrap {
  .container & {
    @extend %flexbox;

    .front-page & {
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
