/* MENUS */
// Styling rules for the site's menus.

// Menu button. Only visible on smaller screens.


// Wrapper for the CMS adminmode on-page buttons. For example "hidden menu items" or "add-page" buttons.
.edit-btn {
  display: inline-block;
  vertical-align: middle;
  line-height: 0.8;
}

// General rules for all navigation menus.
.menu {
  margin: 0;
  padding: 0;
  list-style: none;

  .menu-item {
    position: relative;
  }

  .menu-link {
    &.untranslated {
    }

    &.active {
    }

    &:hover {
    }
  }
}

// Styling rules for the site's main menu.
.menu-main {
  margin-top: 50px;
  padding-top: 26px;
  padding-bottom: 26px;
  @include border(top, 1px, solid, $black, 0.2);
  @include border(bottom, 1px, solid, $black, 0.2);

  .menu {
    .menu-item {
      margin-top: 9px;

      &:first-child {
        margin-top: 0;
      }

      &.active {
        > a {
          @include border(bottom, 2px, solid, $secondary-color);

          &:hover {
            @include color($secondary-color);
          }
        }
      }

      &.expanded {
        .menu-sub {
          display: block;
        }
      }

      @include query($tablet-small) {
        padding-right: 25px;
      }
    }

    .menu-link {
      text-transform: uppercase;
      font-weight: 600;
      @include color($secondary-color);

      &:hover {
        @include color($secondary-color, 0.7);
      }
    }

    .edit-btn {
    }
  }

  .menu-sub {
    padding-top: 7px;
    padding-bottom: 12px;
    display: none;

    .menu-item {
      &.active {
        > a {
          font-weight: bold;
          border: none;

          &:before {
            opacity: 1;
          }
        }
      }

      &.expanded {
        .menu-third {
          display: block;
        }
      }
    }

    .menu-link {
      text-transform: none;
      font-weight: normal;
      padding-left: 20px;
      position: relative;
      display: block;

      &:before {
        content: '';
        background: url('../assets/menu-sub-arrow.svg') no-repeat center;
        background-size: contain;
        width: 6px;
        height: 9px;
        position: absolute;
        left: 5px;
        top: 8px;
        opacity: .5;
      }
    }

    .edit-btn {
      margin-left: 5px;
    }

    @include query($tablet-small) {
      margin-right: -25px;
    }
  }

  .menu-third {
    padding-top: 4px;
    padding-bottom: 4px;
    display: none;

    .menu-item {
      margin-top: 5px;
    }

    .menu-link {
      font-size: 14px;
      font-weight: normal;
      padding-left: 28px;

      &.active {
        font-weight: bold;
        border: none;
      }

      &:before {
        content: none;
      }
    }

    .edit-btn {
      margin-left: 28px;
    }

    @include query($tablet-small) {
      margin-right: -25px;
    }
  }

  @include query($tablet-small) {
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
  }
}

// Styling rules for the site's language menu.
.menu-lang {
  font-size: 14px;
  margin: 38px 0 28px;

  a {
    display: block;
    @include color($grey-1);

    &:hover {
      @include color($secondary-color);
    }
  }

  .active a {
    @include color($secondary-color);
  }

  .edit-btn {
    padding: 7px 10px;
  }

  &.flags-enabled {
    position: relative;

    .menu {
      position: absolute;
      top: 100%;
      background: white;
      margin-top: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      display: none;
      z-index: 1;

      .lang-menu-open & {
        display: block;
      }
    }

    li {
      padding: 7px 10px;

      &.active {
        display: none;
      }
    }

    .lang-flag {
      font-size: 0;
      height: 15px;
      width: 21px;
    }
  }
}

.lang-menu-btn {
  font-family: inherit;
  font-size: 12px;
  position: relative;
  display: block;
  height: 15px;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;

  .flags-enabled & {
    width: 21px;

    .lang-title {
      display: none;
    }
  }

  .lang-flag {
    &:before,
    &:after {
      top: 0;
      left: 0;
    }
  }

  .lang-title-inner {
    vertical-align: middle;
  }

  .flags-disabled & {
    display: none;
  }
}

/* flags */
.lang-flag {
  position: relative;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 21px;
    height: 15px;
    content: '';

    .flags-disabled & {
      display: none;
    }
  }

  &:after {
    background-position: -189px -60px;
  }
}

.lang-flag:before {
  background-color: rgba($black, 1);
}

.lang-flag:after {
  opacity: .95;
  background-repeat: no-repeat;
  .no-boxshadow & {
    border: 1px solid $white;
  }
  .svg & {
    background-image: url('../assets/ico-flags.svg');
  }
  .no-svg {
    background-image: url('../images/ico-flags.png');
  }
}

// Language flag icons positioning in the spritemap.
$flags:
(sq, 0 0), // Albanian (Albania)
(hy, -21px 0), // Armenian (Armenia)
(bn, -42px 0), // Bengali (Bangladesh)
// (xx, -63px 0), // Brazilian Portuguese (Brazil)
(bg, -84px 0), // Bulgarian (Bulgaria)
(zh, -105px 0), // Chinese (China)
(hr, -126px 0), // Croatian (Croatia)
(da, -147px 0), // Danish (Denmark)
(cs, -168px 0), // Czech (Czech Republic)
(et, -189px 0), // Estonian (Estonia)

(fi, 0 -15px), // Finnish (Finland)
(fr, -21px -15px), // French (France)
(ka, -42px -15px), // Georgian (Georgia)
(de, -63px -15px), // German (Germany)
(el, -84px -15px), // Greek (Greece)
(hu, -105px -15px), // Hungarian (Hungary)
(is, -126px -15px), // Icelandic (Iceland)
(hi, -147px -15px), // Hindi (India)
(id, -168px -15px), // Indonesian (Indonesia)
(fa, -189px -15px), // Iranian (Iran)

(he, 0 -30px), // Hebrew (Israel)
(it, -21px -30px), // Italian (Italy)
(ja, -42px -30px), // Japanese (Japan)
(ko, -63px -30px), // Korean (Korea, South)
(lv, -84px -30px), // Latvian (Latvia)
(lt, -105px -30px), // Lithuanian (Lithuania)
(ms, -126px -30px), // Malaysian (Malaysia)
(nl, -147px -30px), // Dutch (Netherlands)
(no, -168px -30px), // Norwegian (Norway)
(ur, -189px -30px), // Urdu (Pakistan)

(fil, 0 -45px), // Filipino (Philippines)
(pl, -21px -45px), // Polish (Poland)
(ro, -42px -45px), // Romanian (Romania)
(ru, -63px -45px), // Russian (Russia)
(ar, -84px -45px), // Arabic (Saudi Arabia)
(sk, -105px -45px), // Slovakian (Slovakia)
(sl, -126px -45px), // Slovenian (Slovenia)
(es, -147px -45px), // Spanish (Spain)
(sv, -168px -45px), // Swedish (Sweden)
(tr, -189px -45px), // Turkish (Turkey)

(uk, 0 -60px), // Ukrainian (Ukraine)
(en, -21px -60px), // American English (United States of America)
// (xx, -42px -60px), // French (Ivory Coast)
(en-gb, -63px -60px), // British English (Great Britian)
(pt, -84px -60px), // Portuguese (Portuguese Republic)
// (xx, -105px, -60px), // Canadian English (Canada)
(sr, -126px, -60px), // Serbian (Republic of Serbia)
// (xx, -147px, -60px), // Dutch, French, German (Kingdom of Belgium)
// (xx, -168px, -60px), // Australian English (Commonwealth of Australia)
;

@each $flag, $pos in $flags {
  .lang-flag-#{$flag}:after {
    background-position: $pos;
  }
}

.lang-options {
  background-color: rgba($black, .09);
  font-size: 13px;
  padding: 7px 12px;
}

.option-btn {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: rgba($blue, 1);
  border: none;
  background: none;

  &:hover {
    color: rgba($blue, .8);
  }

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }

  &:focus {
    outline: none;
  }

  .flags-disabled & {
    .disable-text {
      display: none;
    }
  }

  .flags-enabled & {
    .enable-text {
      display: none;
    }
  }
}

.tags {
  margin: 50px 0;
}

.menu-tags {
  padding-left: 12px;
  background: url('../assets/ico-tags.svg?1') no-repeat left 3px;

  .menu {
    .menu-item {
      display: inline-block;
      margin: 0 0 0 15px;
      padding: 0;

      .menu-link {
        text-transform: uppercase;
        font-family: $font_family_secondary;
        color: $grey-1;
        font-size: 13px;
        text-decoration: none;

        &:hover {
          color: $secondary-color;
        }

        &.active {
          color: $secondary-color;
          font-weight: bold;
        }
      }

      &:before {
        content: none;
      }
    }
  }
}

.menu-expander {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 21px;
  width: 21px;
  border: none;
  border-radius: 100%;
  background: $grey-4 url('../assets/menu-sub-arrow.svg') no-repeat center;
  background-size: 6px auto;
  opacity: 0.5;
  cursor: pointer;
  transition: all 200ms;
  @include transform(rotate(0.25turn));

  @include query($tablet-small) {
    display: block;
  }

  .expanded > & {
    @include transform(rotate(0.75turn));
  }
}
