/* SEARCH */
// Styling rules for the site's search box. These rules affect the entire site.
.search {
  margin: 41px 0 0;
}

.search-input {
  width: 100%;
  border: 1px solid $grey-2;
  font: inherit;
  font-size: 14px;
  box-sizing: border-box;
  padding: 9px 10px 9px 38px;
  background: url('../assets/search-icon.svg') no-repeat 12px 12px;
  background-size: 14px 13px;
  border-radius: 0;
  @include color($primary-color);
  @include placeholder {
    opacity: 1;
    color: inherit;
    @include color($grey-1);
  }
}

body .voog-search-modal {
  z-index: 1;
  @extend .content-formatted;
  font-size: 14px;
  width: 260px;

  h3 {
    font-size: 16px;
    font-family: $font-family-main;
  }
}
