/* SIDEBAR */
// Styling rules for the site's sidebar. These rules affect the entire site.

.sidebar {
  width: 100%;
  max-width: 198px;
  min-width: 198px;
  margin-right: 60px;
  padding-top: 20px;
  font-family: $font-family-secondary;
}

.sidebar-title {
  line-height: 1.1;
  font-weight: 600;
  font-size: 30px;

  &, a {
    @include color($secondary-color);
  }

  a:hover {
    @include color($secondary-color,.8);
  }
}
