@charset "UTF-8";
.container .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

/* GENERAL */
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #404040;
}

.content-formatted:after {
  content: "";
  display: table;
  clear: both;
}

.flexbox .container .wrap, .container .flexbox .wrap {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.no-flexbox .container .wrap, .container .no-flexbox .wrap {
  display: table;
}
@media screen and (max-width: 506px) {
  .no-flexbox .container .wrap, .container .no-flexbox .wrap, .flexbox .container .wrap, .container .flexbox .wrap {
    display: block;
  }
}

.background-color,
.background-image {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg-picker-area {
  position: relative;
}

.light-background {
  color: #404040;
}

.dark-background {
  color: white;
}

.background-color,
.background-image {
  position: absolute;
  z-index: -2;
  background-size: cover;
}

.container {
  max-width: 978px;
  margin: 115px auto 70px;
  padding: 0 25px;
}
.container a {
  text-decoration: none;
}
.container a img {
  border: none;
}

.front-page .container .wrap {
  margin-top: 20px;
}
.front-page .container .wrap:first-child {
  margin-top: 0;
}

.content-formatted {
  word-wrap: break-word;
}
.content-formatted h1, .content-formatted h2, .content-formatted h3, .content-formatted h4, .content-formatted h5, .content-formatted h6, .content-formatted p, .content-formatted ul, .content-formatted ol, .content-formatted pre, .content-formatted code, .content-formatted img, .content-formatted iframe, .content-formatted table form {
  margin-bottom: 0;
}
.content-formatted h1:first-child, .content-formatted h2:first-child, .content-formatted h3:first-child, .content-formatted h4:first-child, .content-formatted h5:first-child, .content-formatted h6:first-child, .content-formatted p:first-child, .content-formatted ul:first-child, .content-formatted ol:first-child, .content-formatted pre:first-child, .content-formatted code:first-child, .content-formatted img:first-child, .content-formatted iframe:first-child, .content-formatted table form:first-child {
  margin-top: 0;
}
.content-formatted h1, .content-formatted h2, .content-formatted h3, .content-formatted h4, .content-formatted h5, .content-formatted h6 {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
}
.content-formatted h1 {
  font-size: 38px;
  color: #222222;
}
.content-formatted h2, .content-formatted h3, .content-formatted h4, .content-formatted h5, .content-formatted h6 {
  color: #1d1d1d;
}
.content-formatted h2 {
  margin-top: 65px;
  font-size: 24px;
}
.content-formatted h3, .content-formatted h4, .content-formatted h5, .content-formatted h6 {
  font-size: 20px;
}
.content-formatted ul {
  list-style-type: none;
  padding: 0;
}
.content-formatted ul li {
  position: relative;
  padding-left: 25px;
  margin: 15px 0;
}
.content-formatted ul li:before {
  content: '°';
  position: absolute;
  left: 7px;
  top: 1px;
  font-size: 20px;
  color: #B4B4B4;
}
.content-formatted a {
  color: #222222;
  text-decoration: underline;
}
.content-formatted a:hover {
  text-decoration: none;
}
.content-formatted img {
  height: auto;
}
.content-formatted .table-container {
  margin-top: 20px;
}
.content-formatted .overthrow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.content-formatted table {
  width: 100%;
  margin: 20px 0;
  font-size: 16px;
  border-collapse: collapse;
}
.content-formatted table th, .content-formatted table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}
.content-formatted table th:first-child, .content-formatted table td:first-child {
  padding-left: 0;
}
.content-formatted table th {
  font-weight: bold;
  border-top: 1px solid #e5e5e5;
}
.content-formatted .edy-texteditor-view {
  min-height: 32px;
}
.content-formatted .edy-partial-view {
  margin-top: 25px;
}
.content-formatted .edy-partial-view:first-child {
  margin-top: 0;
}

/* MENUS */
.menu-btn {
  display: none;
}
@media screen and (max-width: 752px) {
  .menu-btn {
    position: absolute;
    top: 28px;
    right: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }
  .menu-btn.open .menu-stripe {
    background-color: #222222;
    background-color: rgba(34, 34, 34, 0.47);
  }
  .menu-btn:focus {
    outline: none;
  }
  .menu-btn::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  .menu-btn .menu-stripe {
    display: block;
    width: 23px;
    height: 4px;
    margin: 4px 0;
    background-color: #222222;
    background-color: rgba(34, 34, 34, 0.67);
    border-radius: 5px;
  }
  .menu-btn .menu-stripe:first-child, .menu-btn .menu-stripe:last-child {
    margin: 0;
  }
}

.edit-btn {
  display: inline-block;
  vertical-align: middle;
  line-height: 0.8;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-main {
  margin-top: 50px;
  padding-top: 8px;
  padding-bottom: 26px;
  border-top: 1px solid #000000;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.menu-main .menu .menu-item {
  margin-top: 9px;
}
.menu-main .menu .menu-link {
  text-transform: uppercase;
  font-weight: 600;
  color: #222222;
}
.menu-main .menu .menu-link.active {
  border-bottom: 2px solid #222222;
}
.menu-main .menu .menu-link.active:hover {
  border: none;
}
.menu-main .menu-sub {
  padding-top: 7px;
  padding-bottom: 12px;
}
.menu-main .menu-sub .menu-link {
  text-transform: none;
  font-weight: normal;
  padding-left: 20px;
  position: relative;
}
.menu-main .menu-sub .menu-link:before {
  content: '';
  background: url("../assets/menu-sub-arrow.svg") no-repeat center;
  background-size: contain;
  width: 6px;
  height: 9px;
  position: absolute;
  left: 5px;
  top: 5px;
  opacity: .5;
}
.menu-main .menu-sub .menu-link:hover:before {
  opacity: 1;
}
.menu-main .menu-sub .menu-link.active {
  font-weight: bold;
  border: none;
}
.menu-main .menu-sub .menu-link.active:before {
  opacity: 1;
}
.menu-main .menu-sub .edit-btn {
  margin-left: 5px;
}
.menu-main .menu-third {
  padding-top: 4px;
  padding-bottom: 4px;
}
.menu-main .menu-third .menu-item {
  margin-top: 5px;
}
.menu-main .menu-third .menu-link {
  font-size: 14px;
  font-weight: normal;
  padding-left: 28px;
  color: #9b9b9b;
}
.menu-main .menu-third .menu-link.active {
  font-weight: bold;
  border: none;
  color: #222222;
}
.menu-main .menu-third .menu-link:hover {
  color: #222222;
}
.menu-main .menu-third .menu-link:before {
  content: none;
}
.menu-main .menu-third .edit-btn {
  margin-left: 28px;
}

.menu-lang {
  font-size: 14px;
  margin: 38px 0 28px;
}
.menu-lang a {
  display: block;
  color: #9b9b9b;
}
.menu-lang a:hover {
  color: #222222;
}
.menu-lang .active a {
  color: #222222;
}
.menu-lang.flags-enabled {
  position: relative;
}
.menu-lang.flags-enabled .menu {
  position: absolute;
  top: 100%;
  background: white;
  margin-top: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: none;
}
.lang-menu-open .menu-lang.flags-enabled .menu {
  display: block;
}
.menu-lang.flags-enabled li {
  padding: 7px 10px;
}
.menu-lang.flags-enabled li.active {
  display: none;
}
.menu-lang.flags-enabled .lang-flag {
  font-size: 0;
  height: 15px;
  width: 21px;
}

.lang-menu-btn {
  font-family: inherit;
  font-size: 12px;
  position: relative;
  display: block;
  height: 15px;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
}
.flags-enabled .lang-menu-btn {
  width: 21px;
}
.flags-enabled .lang-menu-btn .lang-title {
  display: none;
}
.lang-menu-btn .lang-flag:before, .lang-menu-btn .lang-flag:after {
  top: 0;
  left: 0;
}
.lang-menu-btn .lang-title-inner {
  vertical-align: middle;
}
.flags-disabled .lang-menu-btn {
  display: none;
}

/* flags */
.lang-flag {
  position: relative;
}
.lang-flag:before, .lang-flag:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 21px;
  height: 15px;
  content: '';
}
.flags-disabled .lang-flag:before, .flags-disabled .lang-flag:after {
  display: none;
}
.lang-flag:after {
  background-position: -189px -60px;
}

.lang-flag:before {
  background-color: black;
}

.lang-flag:after {
  opacity: .95;
  background-repeat: no-repeat;
}
.no-boxshadow .lang-flag:after {
  border: 1px solid #FFFFFF;
}
.svg .lang-flag:after {
  background-image: url("../assets/ico-flags.svg");
}
.lang-flag:after .no-svg {
  background-image: url("../images/ico-flags.png");
}

.lang-flag-sq:after {
  background-position: 0 0;
}

.lang-flag-hy:after {
  background-position: -21px 0;
}

.lang-flag-bn:after {
  background-position: -42px 0;
}

.lang-flag-bg:after {
  background-position: -84px 0;
}

.lang-flag-zh:after {
  background-position: -105px 0;
}

.lang-flag-hr:after {
  background-position: -126px 0;
}

.lang-flag-da:after {
  background-position: -147px 0;
}

.lang-flag-cs:after {
  background-position: -168px 0;
}

.lang-flag-et:after {
  background-position: -189px 0;
}

.lang-flag-fi:after {
  background-position: 0 -15px;
}

.lang-flag-fr:after {
  background-position: -21px -15px;
}

.lang-flag-ka:after {
  background-position: -42px -15px;
}

.lang-flag-de:after {
  background-position: -63px -15px;
}

.lang-flag-el:after {
  background-position: -84px -15px;
}

.lang-flag-hu:after {
  background-position: -105px -15px;
}

.lang-flag-is:after {
  background-position: -126px -15px;
}

.lang-flag-hi:after {
  background-position: -147px -15px;
}

.lang-flag-id:after {
  background-position: -168px -15px;
}

.lang-flag-fa:after {
  background-position: -189px -15px;
}

.lang-flag-he:after {
  background-position: 0 -30px;
}

.lang-flag-it:after {
  background-position: -21px -30px;
}

.lang-flag-ja:after {
  background-position: -42px -30px;
}

.lang-flag-ko:after {
  background-position: -63px -30px;
}

.lang-flag-lv:after {
  background-position: -84px -30px;
}

.lang-flag-lt:after {
  background-position: -105px -30px;
}

.lang-flag-ms:after {
  background-position: -126px -30px;
}

.lang-flag-nl:after {
  background-position: -147px -30px;
}

.lang-flag-no:after {
  background-position: -168px -30px;
}

.lang-flag-ur:after {
  background-position: -189px -30px;
}

.lang-flag-fil:after {
  background-position: 0 -45px;
}

.lang-flag-pl:after {
  background-position: -21px -45px;
}

.lang-flag-ro:after {
  background-position: -42px -45px;
}

.lang-flag-ru:after {
  background-position: -63px -45px;
}

.lang-flag-ar:after {
  background-position: -84px -45px;
}

.lang-flag-sk:after {
  background-position: -105px -45px;
}

.lang-flag-sl:after {
  background-position: -126px -45px;
}

.lang-flag-es:after {
  background-position: -147px -45px;
}

.lang-flag-sv:after {
  background-position: -168px -45px;
}

.lang-flag-tr:after {
  background-position: -189px -45px;
}

.lang-flag-uk:after {
  background-position: 0 -60px;
}

.lang-flag-en:after {
  background-position: -21px -60px;
}

.lang-flag-en-gb:after {
  background-position: -63px -60px;
}

.lang-flag-pt:after {
  background-position: -84px -60px;
}

.lang-flag-sr:after {
  background-position: -126px;
}

.lang-options {
  background-color: rgba(0, 0, 0, 0.09);
  font-size: 13px;
  padding: 7px 12px;
}

.option-btn {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #0066bb;
  border: none;
  background: none;
}
.option-btn:hover {
  color: rgba(0, 102, 187, 0.8);
}
.option-btn::-moz-focus-inner {
  padding: 0;
  border: none;
}
.option-btn:focus {
  outline: none;
}
.flags-disabled .option-btn .disable-text {
  display: none;
}
.flags-enabled .option-btn .enable-text {
  display: none;
}

.tags {
  margin: 50px 0;
}

.menu-tags {
  padding-left: 12px;
  background: url("../assets/ico-tags.svg?1") no-repeat left 3px;
}
.menu-tags .menu .menu-item {
  display: inline-block;
  margin: 0 0 0 15px;
  padding: 0;
}
.menu-tags .menu .menu-item .menu-link {
  text-transform: uppercase;
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #9B9B9B;
  font-size: 13px;
  text-decoration: none;
}
.menu-tags .menu .menu-item .menu-link:hover {
  color: #222222;
}
.menu-tags .menu .menu-item .menu-link.active {
  color: #222222;
  font-weight: bold;
}
.menu-tags .menu .menu-item:before {
  content: none;
}

/* SIDEBAR */
.sidebar {
  width: 100%;
  max-width: 198px;
  min-width: 198px;
  margin-right: 60px;
  padding-top: 20px;
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.sidebar-title {
  line-height: 1.1;
  font-weight: 600;
  font-size: 30px;
}
.sidebar-title, .sidebar-title a {
  color: #222222;
}
.sidebar-title a {
  text-decoration: none;
}
.sidebar-title a:hover {
  color: #222222;
  color: rgba(34, 34, 34, 0.8);
}

/* CONTENT */
.content {
  width: 720px;
}

.main-content {
  min-height: 351px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}
.main-content .content-formatted {
  padding: 40px;
}

.half-content-holder {
  margin: 4% 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
}

.half-content {
  min-height: 351px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 48%;
  -moz-box-flex: 0;
  -moz-flex: 0 1 48%;
  -ms-flex: 0 1 48%;
  flex: 0 1 48%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.half-content--smaller {
  min-height: 90px;
}
.half-content .background-type {
  text-align: center;
  padding: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
  -moz-box-flex: 0;
  -moz-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}

.background-settings {
  top: 0;
}

/* BLOG & BLOG ARTICLE */
.post {
  margin: 45px 0;
}
.post .post-title {
  margin: 10px 0 15px;
}
.post .post-title a {
  text-decoration: none;
}
.post .post-meta {
  font-size: 13px;
  text-transform: uppercase;
}
.post .post-date {
  display: inline-block;
  color: #7A7A7A;
  background: #F7F7F7;
  padding: 3px 8px;
}
.post .post-comments-count {
  display: inline-block;
  background: url("../assets/ico-comments.svg") no-repeat left center;
  padding-left: 30px;
  margin-left: 15px;
  color: #9B9B9B;
  text-decoration: none;
}
.post .post-comments-count:hover {
  color: #222222;
}
.post .post-author {
  text-transform: none;
  display: inline-block;
  margin-left: 15px;
}
.post .post-read-more {
  display: inline-block;
  margin-top: 20px;
}

.blog-page .content {
  padding-top: 20px;
}

.post-page .post {
  margin: 20px 0;
}

/* SEARCH */
.search {
  margin: 41px 0 0;
}

.search-input {
  width: 100%;
  border: 1px solid #E4E4E4;
  font: inherit;
  font-size: 14px;
  box-sizing: border-box;
  padding: 9px 10px 9px 38px;
  background: url("../assets/search-icon.svg") no-repeat 12px 12px;
  color: #9b9b9b;
}
.search-input::-webkit-input-placeholder {
  opacity: 1;
  color: inherit;
}
.search-input:-moz-placeholder {
  opacity: 1;
  color: inherit;
}
.search-input::-moz-placeholder {
  opacity: 1;
  color: inherit;
}
.search-input:-ms-input-placeholder {
  opacity: 1;
  color: inherit;
}

/* FORMS */
.content-formatted form {
  max-width: 100%;
  margin-top: 25px;
}
.content-formatted .form_field {
  margin-top: 20px;
}
.content-formatted .form_field_required .form_field_label:after {
  content: '*';
}
.content-formatted .form_field_label,
.content-formatted .edy-fe-label {
  display: block;
  line-height: 1.3;
  padding-bottom: 5px;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select,
.content-formatted .form_field_file,
.content-formatted .form_submit input {
  font: inherit;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select,
.content-formatted .form_field_file {
  max-width: 100%;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea {
  width: 280px;
  margin: 0;
  padding: 7px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
}
@media screen and (max-width: 420px) {
  .content-formatted .form_field_textfield,
  .content-formatted .form_field_textarea {
    width: 100%;
  }
}
.content-formatted .form_field_textarea {
  min-height: 98px;
}
.content-formatted .form_field_size_medium {
  width: 420px;
}
@media screen and (max-width: 420px) {
  .content-formatted .form_field_size_medium {
    width: 100%;
  }
}
.content-formatted .form_field_size_large {
  width: 580px;
}
.content-formatted .form_submit {
  margin-top: 10px;
}
.content-formatted .form_submit input {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: white;
  background: #222222;
  padding: 10px 20px;
  border: none;
}
.content-formatted .form_error,
.content-formatted .form_field_error {
  color: #cc0000;
}
.content-formatted .form_field_with_errors .form_field_textfield,
.content-formatted .form_field_with_errors .form_field_textarea {
  border: 1px solid #cc0000;
}
.content-formatted .form_notice {
  color: #60a740;
}

/* COMMENTS */
.comment-messages {
  margin-top: 20px;
}

.comment {
  margin-bottom: 30px;
}

.comment-form {
  width: 360px;
  margin-top: 40px;
}
.comment-form .form_field_textfield {
  width: 100%;
}

.comment-date {
  color: #7A7A7A;
}

.comment-body {
  margin-top: 10px;
}

/* FOOTER */
.footer {
  font-size: 13px;
  text-align: right;
  margin-top: 20px;
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.footer a {
  color: #a4a4a4;
}
